/bidwin/src/JavaServerFaces/project/bidwin/nbproject/private/
/bidwin/src/JavaServerFaces/project/bidwin/build/
/bidwin/dist/
/bidwinRealm/build/
/bidwinRealm/nbproject/private/
/bidwin/nbproject/private/
/bidwin/build/
/bidwinRealm/dist/
/bidwinRealm/WebApplication2/nbproject/private/
/bidwinRealm/bidwinrealm/nbproject/private/
/bidwinRealm/bidwinrealm/build/
/bidwinRealm/bidwinrealm/dist/
/bidwinRealm/bidwin/nbproject/private/